* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music_player {
  text-align: center;
}

.progress {
  position: relative;
}

#slider {
  position: absolute;
  height: 15px;
  width: 15px;
  background: rgb(185, 185, 185);
  border-radius: 50%;
}

#currentTime {
  float: left;
}

#TotalTime {
  float: right;
}
