* {
  padding: 0;
  margin: 0;
}
body {
  background: url("https://i.ibb.co/8jBRq0j/pexels-c-tia-matos-1072179.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-none {
  background: transparent !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}