{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beats</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css'%}" />  
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <style>
      a{
        color: white;
        text-decoration: none;
        font-size: 18px;
      }
      .remove{
        /* list-style: none; */
        float: right;
        background: none;
        border: none;
        outline: none;
        color: black;
      }
      .d-flex {
        width: 200px;
      } 
      .info{
        width: 100vw !important;
        height: 50%;
      }
      h1{
        color: white;
        text-transform: capitalize;
      }
    </style>
</head>
<body>
    <body>
        <div class="webpage p-2">
        <div class="sidebar">
          <div class="icons content-div">
            <a href="/"><i class="fa-solid fa-house" data-bs-toggle="tooltip" data-bs-placement="left" title="Home"></i></a>
            <a href="/music" id="music"><i class="fa-solid fa-music" data-bs-toggle="tooltip" data-bs-placement="left" title="Library"></i></a>
            <a href="/profile"><i class="fa-solid fa-user"  data-bs-toggle="tooltip" data-bs-placement="left" title="Like"></i></a>
          
          </div>
        </div>
        <div class="contant" id="contant">
          <div class="navbar">
            <div class="searchbar">
              <div class="searchbar">
                <img src={% static 'favicon.png' %} alt="" srcset="" style="height: 50px;">
                <h1 style="color: white;">Beats</h1> 
              </div>
            </div>
           
          </div>
          <div class="playlistpage">
            <h1 id="listName"></h1>
            <div class="details">
            <img src={%static 'size_m.jpg' %} alt="" srcset=""/>
            <ol class="text-white" id="Songname"></ol>
          </div>
          </div>
          
        </div>
      </div>
         
      <script>
          let likedSong = JSON.parse(localStorage['likedSong'])
          let playlists= JSON.parse(localStorage['playlists'])
          //PENDING 
          console.log(location.href)
          let playlistID = location.href.split('/')
          //For naming
          if(playlistID[playlistID.length-1] == '101'){
            document.getElementById('listName').innerHTML = "Liked Songs"
            showlist(likedSong[0].songs,isLikedSongs=true) //to show liked song list
          }else{
            playlists.forEach(playlist=>{
              if(playlist.playlistId == playlistID[playlistID.length-1]){
                document.getElementById('listName').innerHTML = playlist.name
                showlist(playlist.songs,isLikedSongs=false) // to show playlist songs
              }
            })
          }

          function showlist(list,isLikedSongs)
          {
            console.log(list);
            document.getElementById('Songname').innerHTML=''
            if(isLikedSongs){
              list.forEach((song,index)=>{
              let link =  document.createElement('li')
              //link.setAttribute('href','/songplay/'+song.id)
              link.innerHTML=`<a href="/songplay/${song.id}">  <img src="{{songs.image.2.link}}"/> ${song.name}</a> 
              <button class="remove" onclick="removeLiked(${index})">
                <i class="fa-solid fa-trash"></i>
                </button>
                `  
                document.getElementById('Songname').appendChild(link)
              })
            }else{
              list.forEach((song,index)=>{
              let link =  document.createElement('li')
              //link.setAttribute('href','/songplay/'+song.id)
              link.innerHTML=`<a href="/songplay/${song.id}">  <img src="{{songs.image.2.link}}"/> ${song.name}</a> 
              <button class="remove" onclick="removefromPlaylist(${index},${playlistID[playlistID.length-1]})">
                <i class="fa-solid fa-trash"></i>
                </button>
                `  
                document.getElementById('Songname').appendChild(link)
              })
            }
            
          }

          function removeLiked(index){
            console.log(index);
            let likedSong = JSON.parse(localStorage['likedSong'])
            likedSong[0].songs.splice(index,1)
            localStorage['likedSong'] = JSON.stringify(likedSong)
            showlist(likedSong[0].songs)
          }

          function removefromPlaylist(index,id){
            console.log(index);
            let lists = JSON.parse(localStorage['playlists']);
            lists.forEach((list)=>{
              console.log(list);
              if(list.playlistId == id){
                list.songs.splice(index,1)
                localStorage['playlists'] = JSON.stringify(lists)
                showlist(list.songs,false)
              }
            })
          }
          </script>
</body>
</html>