{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Beats</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'style.css'%}" />
<style>
  .card p {
  color: white;
  font-weight: bold;
  font-size: 14px !important;
}
</style>
<body>
  <div class="webpage p-2">
    <div class="sidebar">
      <div class="icons content-div">
        <a href="/ "><i class="fa-solid fa-house" data-bs-toggle="tooltip" data-bs-placement="left"
            title="Home"></i></a>
        <a href="music" id="music"><i class="fa-solid fa-music" data-bs-toggle="tooltip" data-bs-placement="left"
            title="Library"></i></a>
            <a href=""><i class="fa-solid fa-sliders" data-bs-toggle="tooltip" data-bs-placement="left"
              title="Equilizer"></i></a>
              <a href="profile"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>  
    <div class="contant" id="contant">
      <div class="navbar">
        <div class="searchbar">
          <img src={% static 'favicon.png' %} alt="" srcset="" style="height: 70px;">
          <form method="post">
            {% csrf_token %}
            <input type="search" name="search" id="search" placeholder="&#128269 search..." />
            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          {%if userD%}
          <p>Welcome {{userD.username}}</p>
          {% endif %}
        </div>
       
      </div>
      
      <div class="containers">
        <h1 class="text-white">Username :{{user.username}}</h1>
        <h1 class="text-white">Email :{{user.email}}</h1>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
</div>

</body>
</html>

