{% load static %} {% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SongPlay</title>

    {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'songplaystyle.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <style>
      #lyricsContainer{
        display: none;
        overflow-y: scroll;
      }
      .function{
        display: flex;
        justify-content: space-around;
        width: 180px;
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <div class="main d-flex">
      <div class="card text-white align-item-center">
        <img
          src="{{songs.image.2.url}}"
          alt=""
          srcset=""
          class="mx-auto d-block w-50 mt-3"
        />
        <div class="details mt-2">
          <h5 class="text-white">{{songs.name}}</h5>
          <h6 class="text-white">{{songs.artists.primary.0.name}}</h6>
          <div class="function">
          <i class="fa-regular fa-heart" id="color" onclick="likeItem()" data-bs-toggle="tooltip" data-bs-placement="top" title="like"> </i>
          <i
            class="fa-solid fa-plus"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            data-bs-toggle="tooltip" data-bs-placement="top" title="Add Playlist"
          ></i>
          <i class="fa-solid fa-music" onclick="fetchLyrics()" data-bs-toggle="tooltip" data-bs-placement="top" title="lyrics"></i>
        </div>
      </div>
        <div class="range mt-4 mx-5 d-flex">
          <audio src="{{songs.downloadUrl.1.url}}" controls autoplay></audio>
        </div>
        <div id="songData" style="opacity: 0">{{songs.id}}={{songs.name}}</div>
      </div>
      <div class="card text-white align-item-center" id="lyricsContainer">
        <h3>Lyrics</h3>
      </div>
    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Select Playlist</h3>
            <button class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" id="playlistArea"></div>
          <div class="modal-footer">
            <button class="btn btn-primary" onclick="addToPlaylist()">
              Add to Playlist
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      let color = document.getElementById("color");
      function likeItem() {
        if (color.classList.contains("fa-regular")) {
          color.classList.replace("fa-regular", "fa-solid");
          color.style.color = "red";
          addToLikedPlaylist();
        } else if (color.classList.contains("fa-solid")) {
          color.classList.replace("fa-solid", "fa-regular");
          color.style.color = "black";
          removeFromLiked();
        }
      }

      let songData = document.getElementById("songData");
      function addToLikedPlaylist() {
        let songid = songData.innerHTML.split("=")[0];
        let songName = songData.innerHTML.split("=")[1];
        let array = JSON.parse(localStorage["likedSong"]);
        if(!array[0].songs){
          array[0].songs=[]
        }
        array[0].songs.push({ id: songid, name: songName });
        localStorage["likedSong"] = JSON.stringify(array);
        updateTable(1);
      }

      function removeFromLiked() {
        let array = JSON.parse(localStorage["likedSong"]);
        array[0].songs.forEach((element) => {
          console.log(element);
          if (element.id == songData.innerHTML.split("=")[0]) {
            index = array[0].songs.indexOf(element);
            array.splice(index, 1);
          }
        });
        // localStorage["likedSong"] = JSON.stringify(array);
        // updateTable(0);
      }

      const isLiked = () => {
        let array = JSON.parse(localStorage["likedSong"]);
        array[0].songs.forEach((element) => {
          if (element.id == songData.innerHTML.split("=")[0]) {
            color.classList.replace("fa-regular", "fa-solid");
            color.style.color = "red";
          }
        });
      };

      const updateTable = (toggle) => {
        let data = JSON.parse(localStorage["likedSong"]);
        fetch("/songplay/" + songData.innerHTML.split("=")[0], {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": getCookie("csrftoken"),
          },
          body: JSON.stringify({ data: data }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            console.log(response);
            return response.json(); // Parse the response body as JSON
          })
          .then((data) => {
            console.log("Response from server:", data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      };

      function getCookie(name) {
        const cookieValue = document.cookie
          .split("; ")
          .find((cookie) => cookie.startsWith(name + "="))
          .split("=")[1];
        return cookieValue;
      }

      isLiked();

      // playlists
      function showplaylist() {
        let area = document.getElementById("playlistArea");
        let d2 = JSON.parse(localStorage["playlists"]);
        d2.forEach((list) => {
          let lkList = document.createElement("p");
          lkList.innerHTML = `
            <input type="radio" name="list" value="${list.name}">${list.name}
          `;
          area.appendChild(lkList);
        });
      }
      showplaylist();

      function addToPlaylist() {
        let d2 = JSON.parse(localStorage["playlists"]);
        let songID = songData.innerHTML.split("=")[0];
        let songName = songData.innerHTML.split("=")[1];
        let lists = document.querySelectorAll('input[type="radio"]');
        lists.forEach((list,index) => {
          if(list.checked){
            d2[index].songs.push({"id":songID,'name':songName})
            localStorage['playlists'] = JSON.stringify(d2)
            console.log(localStorage);
          }
        });
      }

      async function fetchLyrics(){
        document.getElementById('lyricsContainer').style.display = 'block'
        let id = songData.innerHTML.split("=")[0]
        console.log(id);
        let response = await fetch(`https://saavn.dev/api/songs/${id}/lyrics`)
        data = await response.json()
        console.log(data['data']);
        let p = document.createElement('p')
        p.innerHTML = data['data'].lyrics
        document.getElementById('lyricsContainer').appendChild(p)
      }
    </script>
  </body>
</html>
